#deta{
    display: inline-block;
    width: 100%;
}
#deta .Nav1{
    margin: 0 auto;
    width: 1200px;
    height: auto;
    padding: 20px 0;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    margin-bottom: 10px;
}
.N-index{
    color: black;
}
.N-index:hover{
    text-decoration: none;
    color: black;
}
#deta .Nav1 span{
    color: #999;
}
/* 详情 */
#deta .XQ{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
.X-left{
    height: 643px;
    position: relative;
}
#small{
    position: absolute; 
    /* border: 1px solid #000; */
}
.X-left #small img{
    width: 100%;
    height: 100%;
}
#mark{
    width: 200px; 
    height: 200px;
    background-color: black; 
    position: absolute; 
    opacity: 0.5; 
    filter: aplha(opacity=50); 
    left: 0px; 
    top: 0px;
    display: none;
}
#big{
    width: 400px; 
    height: 400px; 
    border: 1px solid black; 
    position: absolute; 
    top: 0px; 
    left: 592px; 
    display: none;
    overflow: hidden;
    z-index: 100;
    background: white;
}
#big img{
    width: 644px; 
    height: 960px; 
    position: absolute;
}

/* 右边部分 */
.X-right{
    height: auto;
    float: right;
    margin-top:55px;
    margin-bottom: 20px;
    width: 50%;
    /* background: red; */
}
/* 上部分 */
.R-top{
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.R-top h2{
    font-size: 24px;
    color: rgb(0, 0, 0);
}
.R-top p{
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
}
.R-top span{
    color: #333;
    font-size: 24px;
    font-weight: 800;
}
/* 中间部分 */
.R-center{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #eee;
}
.rightLabel{
    width: 15%;
    color: #666;
    font-size: 14px;
    letter-spacing: 7px;
    line-height: 20px;
    font-weight: 500;
}
.promo-info {
    width: 85%;
    display: inline-block;
}
.promo-info p {
    width: 100%;
    margin-bottom: 7px;
    color: rgb(53, 53, 53);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.wrap-txt {
    margin-right: 0.85rem;
    color: #de634f;
    padding: 0rem 1rem;
    border: 1px solid #de634f;
    background: white;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 500;
}
/* 地址 */
.R-address{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #eee;
}
.rightLabel{
    width: 15%;
    color: #666;
    font-size: 14px;
    letter-spacing: 7px;
    line-height: 20px;
    font-weight: 500;
}
.promo-info {
    width: 85%;
    display: inline-block;
}
.promo-info p {
    width: 100%;
    margin-bottom: 7px;
    color: rgb(53, 53, 53);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.R-address .wrap-txt {
    margin-right: 0.85rem;
    color: #de634f;
    padding: 0rem 1rem;
    margin-top: 10px;
    border: 1px solid #de634f;
    background: white;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 500;
}
.R-address .lo img{
    width: 14px;
    left: 10px;
    margin-right: 10px;
}
.R-address .lo span{
    font-weight: 600;
}
/* 按钮部分 */
.R-btn{
    padding-top: 30px;
}  
.R-btn input{
    width: 40%;
    height: 40px;
    background: #de634f;
    border: 0;
    margin-left: 10px;
    border-radius: 10px;
}
.R-btn .btn1{
    margin-left: 10px;
    color: wheat;
}
.R-btn .btn2{
     margin-left: 20px;
     background: #eee;
}
/* 详情 */
.pdt-content {
    /* margin-top: 80px; */
    display: inline-block;
    padding: 20px 20px 5px 20px;
}
.tab-content img, .details-img img {
    max-width: 100%;
    vertical-align: middle;
}
#back-to-top{
    position:fixed; 
    /* display:none;  */
    bottom:100px; 
    right:0;
    border-radius: 30px;
    background: rgb(0, 0, 0);
    color: white;
}